

# Ignore virtual environment
venv/
env/

# Ignore VS Code settings
.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local environment files
.env

# Firebase credentials
.session.json
*.json

.env

.streamlit/secrets.toml